{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/armsacrifice/css/jobs.css') }}" type="text/css" media="all">
{% endblock %}

{% block content %}
    <h1>Job list</h1>

    {#<table class="uk-table">#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Company</th>#}
                {#<th>Position</th>#}
                {#<th>Location</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}


        {% for category in categories %}
            <div>
                <div class="category">
                    <div class="feed">
                        <a href="">Feed</a>
                    </div>
                    <h1>{{ category.name }}</h1>
                </div>
                <table class="uk-table jobs">
                    {% for entity in category.activejobs %}
                        <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
                            <td class="location">{{ entity.location }}</td>
                            <td class="position">
                                <a href="{{ path('app_job_show', { 'id': entity.id, 'company': entity.companyslug, 'location': entity.locationslug, 'position': entity.positionslug }) }}">
                                    {{ entity.position }}
                                </a>
                            </td>
                            <td class="company">{{ entity.company }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}



        {#{% for job in jobs %}#}
            {#<tr>#}
                {#<td>{{ job.company }}</td>#}
                {#<td><a href="{{ path('app_job_show', { 'id': job.id, 'company': job.companyslug, 'location': job.locationslug, 'position': job.positionslug }) }}">{{ job.position }}</a></td>#}
                {#<td>{{ job.location }}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('app_job_show', { 'id': job.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('app_job_edit', { 'id': job.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('app_job_new') }}">Create a new entry</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
